@import url(./reset.css);

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 393px;
  height: 100vh;
  padding: 0 31px;
  box-sizing: border-box;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#time {
  width: 100%;
  margin: 0 0 31px;
  color: #fff;
  font-family: "SF Pro";
  font-size: 86px;
  font-style: normal;
  font-weight: 110;
  line-height: normal;
  margin-bottom: 32px;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#btn-start {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background: rgba(48, 209, 88, 0.23);
  color: #30d158;
  font-family: "SF Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#btn-reset {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background: #2c2c2e;
  color: #fff;
  font-family: "SF Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#btn-stop {
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
  border-radius: 100px;
  background: #ff3b303b;
  color: #ff3b30;
  font-family: "SF Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
